
.greeting-card {
    width: 450px;
    height: 240px;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-sizing: border-box;
    padding: 40px 32px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.greeting-card__column:first-child {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 18px;   
}
.greeting-card__column:first-child span {
    margin-bottom: 7px;
}
.greeting-card__column:nth-child(2){
    margin-top: 37px;
}
.greeting-card__signup {
    padding: 7px 20px;
    background-color: #01a862;
    border-radius: 20px;
    font-size: 18px;
    color: white;
    margin-right: 10px;
}
.greeting-card__login {
    padding: 7px 20px;
    border: 1px solid #01a862;
    border-radius: 20px;
    font-size: 18px;
    color: #01a862;
}
.greeting-card__img{
   position: absolute;
   right: 50px;
   bottom: 72px;
}
.greeting-card__img img{
    width: 100px;
    height: 100px;   
}
.whatsnew-card {
    margin-top: 7px;
    width: 450px;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    
    /* border delete */
    padding-top: 8px;
    
    
}
.whatsnew-card__column{
    display: flex;
    align-items: center;
}
.whatsnew-card__column:first-child {
    padding-left: 10px;
}
.whatsnew-card__column:first-child span {
    margin-left: 10px;
    font-size: 19px;
}
.whatsnew-card__column:last-child {
    padding-right: 10px;
}

.recall-card{
    margin-top: 20px;
    width: 450px;
    height: 155px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;   

    background-color: #f7f7ef;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding-top: 30px ;
}
.recall-card img {
    width: 60px;
    height: 60px;
}
.recall-card__title {
    margin-top: 10px;
}
/* 더 두꺼운 글씨체 필요 */
.recall-card span {
      
    font-size: 30px;
    color: rgba(0, 0, 0, 0.8);    
}

.golden-card {
    margin-top: 10px;
    width: 450px;
    height: 190px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    padding: 25px;
    background-color: #103929;
    border-radius: 3px;
}
.golden-card__column:first-child{
    display: flex;
    flex-direction: column;
}
.golden-card__column:last-child img{
    width: 120px;
    height: 120px;    
}
.golden-card__title:first-child{
    color: white;
    font-size: 13px;
}
.golden-card__title:nth-child(2){
    margin-top: 15px;
    color: #d7cc7a;
    font-size: 26px;

    display: flex;
    flex-direction: column;
}
.golden-card__title__white {
    color: white;
}
.golden-card__title:last-child{
    margin-top: 15px;
    color: white;
    font-size: 15px;
}

.fall-beverage {
    margin-top: 10px;
    width: 450px;
    height: 500px;
    box-sizing: border-box;

    padding: 40px 35px;
    background-color: #fcd3a6;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;

    position: relative;
}
.fall-beverage__title {
    color: #103929;

}
.fall-beverage__title:first-child{
    font-size: 17px;
    margin-bottom: 15px;
}
/*두꺼운 글씨체 필요*/
.fall-beverage__title:nth-child(2){
    font-size: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
/*글씨 연하게*/
.fall-beverage__title:last-child{
    color: #323f3a;
}
.fall-beverage__img img {
    width: 225px;
    height: 225px;
    position: absolute;
    bottom: 50px;
    left: 100px;
}

.delivery-card {
    margin-top: 10px;
    width: 450px;
    height: 200px;
    box-sizing: border-box;
    
    border-radius: 3px;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.2);
    
}
.delivery-card__column:first-child{
    height: 125px;
    background-color: #e6f7ef;
    
}
.delivery-card__column:last-child{
    height: 75px;
    background-color: #ceefe6;
    position: relative;
   

}
/*두꺼운 글씨체 필요*/
.delivery-card__title {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding: 40px 30px;
}
.delivery-card__title__green {
    color: #103929;
}
.delivery-card__date {
    padding: 15px 30px;
    font-size: 17px;

}
.delivery-card__img img {
    position: absolute;
    width: 150px;
    height: 150px;
    right: 40px;
    top: -100px;
}

