.main-header__search .fa-gear {
    margin-left: 30px;
}
.other-header__title {
    font-weight: 700;
    font-size: 40px;
    padding-top: 35px;
   
}
.other-main-screen {
    margin: 35px 30px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.other-main-screen__column,
.other-point-menu{
    width: 100%;
}
.other-point-menu{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    margin-bottom: 15px;
}

.other__login-box {
    width: 100%;
    height: 140px;
    border-radius: 12px;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    box-sizing: border-box;
    position: relative;

    padding: 20px;
}
.other__login-box__title1 {
    margin-bottom: 10px;
    font-weight: 500;
}
.other__login-box__title2 {
    font-size: 14px;
    font-weight: 500;
    color: #4e2f16;
    text-decoration-line: underline;
}
.other-point-menu .list__box {
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 12px;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.2);
}
.other-point-menu .list__box span {
    font-weight: 500;
}
.other-point-menu .list__box i {
    margin-bottom: 10px;
    color: #01a862;
}
.hidden-menubox{
    visibility: hidden;
}
.other-login {
    position: absolute;
    right: 20px;
    bottom: 30px;
    
}
.sub-menu__pay {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

.sub-menu__pay > p {
    padding: 20px 0px;
    font-size: 20px;
    font-weight: 700;
}
.sub-menu__list {
    display: flex;
}
.sub-menu__column {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    padding: 15px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.sub-menu__column p{
    position: relative;
}
.sub-menu__column p:first-child {
    margin-bottom: 30px;
}
.sub-menu__column p:last-child {
    margin-bottom: 10px;
}
.sub-menu__pay .fa-bookmark {
    transform: rotateZ(90deg);
}
.sub-menu__column span {
    margin-left: 15px;
}
.sub-menu__pay .fa-circle-plus{
    position: absolute;
    top: 8px;
    left: 20px;
    
}
.sub-menu__pay .fa-clock-rotate-left{
    position: absolute;
    top: 8px;
    left: 16px;
    
}
.sub-menu__order {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

.sub-menu__order > p {
    padding: 20px 0px;
    font-size: 20px;
    font-weight: 700;
}