.main-screen {
    margin: 0px 10px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.order-main-screen{
    display: flex;
    margin: 0px 35px;
    margin-top: 40px;
}
.order-mymenu-screen {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px 40px;
    margin-top: 50px;
}
.index-main-screen{
    margin: 0px 10px;
    margin-top: 35px;
    
    
}