.beverage-list {
    display: flex;
    margin-bottom: 30px;
}
.beverage-list__link {
    display: flex;
    align-items: center;

}
.beverage-list .beverage-list__column{
    display: flex;
    
}
.beverage-list .beverage-list__column:first-child img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 30px;
}
.beverage-list .beverage-list__column:last-child {
    display: flex;
    flex-direction: column;
}

.order-list__1st-title {
    margin-bottom: 8px;
    font-size: 19px;
    font-weight: 400;
}
.order-list__2nd-title {
    font-size: 15px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.4);
}