.order-store {
    position: fixed;
    bottom: 77px;

    height: 60px;
    width: 100%;
    background-color: #2d2926;
    opacity: 0.95;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    padding: 0px 15px;

}
.order-store__column:first-child {
    margin-left: 5px;
    padding: 5px 0px;
    border-bottom: 1px solid whitesmoke;
}

.order-store__column:last-child {
    margin-right: 20px;
    position: relative;
}
.order-store__select span {
    margin-right: 70px;  
}
/* animation 삽입*/
.order-store__column:last-child .notification {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12px;
    right: 5px;

    width: 18px;
    height: 18px;
    background-color: #01a862;
    color: white;
    font-size: 12px;
    border-radius: 50%;
}