.main-header {
    margin: 0px 22px;
}
.main-header__search {
    width: 100%;
    padding-top: 40px;
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.main-header__title {
    font-weight: 700;
    font-size: 30px;
    padding-top: 20px;
}
#main-header__title2 {
    margin-top: 15px;
}